*{
    margin: 0;
    padding: 0;
}

#game{
    width: 500px;
    height: 200px;
    border: 3px solid rgb(36, 0, 0);
    margin-left: 400px;
    margin-top: 80px;
}
#charecter i{
    font-size: 50px;
    color: rgb(2, 107, 64);
    margin-left: 3px;
}

#charecter{
    position: relative;
    top: 150px;
}
.animate{
    animation: jump 500ms;
}

@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 150px;}
    100%{top: 150px;}
}

#block{
    width: 20px;
    height: 20px;
    position: relative;
    top: 125px;
    left: 480px;
    animation: block 1.5s infinite linear;
}
#block i{
    font-size: 25px;
    color: rgb(145, 0, 0);
}

@keyframes block{
    0%{left: 480px;}
    100%{left: -40px;}
}


.footer{
    margin-top: 310px;
    background-color: rgb(107, 17, 17);
    color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    
}



/* Responsive */
@media only screen and (max-width: 1200px) {
    #game{
        margin-left: 350px;

    }
  }
  @media only screen and (max-width: 1100px) {
    #game{
        margin-left: 280px;
    }
  }

  @media only screen and (max-width: 1000px) {
    #game{
        margin-left: 250px;
    }
  }
  @media only screen and (max-width: 900px) {
    #game{
        margin-left: 190px;
    }
  }
  @media only screen and (max-width: 800px) {
    #game{
        margin-left: 150px;
    }
  }

  @media only screen and (max-width: 768px) {
    #game{
        margin-left: 130px;
    }
    .footer{
        width: 95%;
    }
  }
  @media only screen and (max-width: 668px) {
    #game{
        margin-left: 85px;
    }
    .footer{
        width: 95%;
    }
  }
  @media only screen and (max-width: 600px) {
    #game{
        margin-left: 40px;
    }
    .footer{
        width: 93%;
    }
  }
  @media only screen and (max-width: 500px) {
    #game{
        margin-left: 0px;
    }
    .footer{
        width: 93%;
    }
  }
  @media only screen and (max-width: 400px) {
    #game{
        margin-left: 0px;
    }
    .footer{
        width: 117%;
    }
  }

  @media only screen and (max-width: 300px) {
    #game{
        width: 390px;
        height: 200px;
        margin-left: 0px;
    }
    .footer{
        width: 120%;
    }
  }







